<!DOCTYPE html>
<html>
<head>
  <title>Nproject</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>



<% stylesheet_link_tag "application", "media: all", "data-turbolinks-track" => true %>
</head>
<body>


<p>help page</p>

<-- this is my code -->

<-- cut here my code -->

</body>
</html>
